:root {
  --bg-colour: #f4f4f4;
  --divider-colour-1: grey;
  --divider-colour-2: rgb(71, 69, 69);
  --colour-1: rgb(251, 182, 54);
}

html,
body {
  padding: auto;
  max-width: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--bg-colour);
}

.section-1 { 
  margin: 50px 20px;
}

.grid-one,
.grid-two {
  display: grid;
  grid-template-columns: auto;
}

.grid-one {
  margin: 0 -20px;
  height: 5px;
  background-color: var(--divider-colour-1);
}

.grid-two {
  margin: 0 -20px;
  height: 40px;
  background-color: var(--divider-colour-2);
}

.section-2 {
  margin: 10px 20px;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

h2 {
  display: grid;
  margin: 0 -40px;
  padding: 0 40px;
  max-width: fit-content;
  align-items: center;
  box-shadow: 0 4px rgb(165, 108, 1);
  height: 35px;
  font-size: 18px;
  background-color: var(--colour-1);
}

/* Styling on mobile devices */
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    height: 50px;
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}
